/* Horizontal Sliding */

.fade-out-to-right-enter,
.fade-out-to-left-enter {
  opacity: 0;
}

.fade-out-to-right-enter-active,
.fade-out-to-left-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-out-to-right-exit,
.fade-out-to-left-exit {
  opacity: 1;
}

.fade-out-to-right-exit-active {
  transform: translateX(100%);
}

.fade-out-to-left-exit-active {
  transform: translateX(-100%);
}

.fade-out-to-right-exit-active,
.fade-out-to-left-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}
