.Picture {
  width: 80vw;
  height: min(calc(9 / 16 * 80vw), 80vh);
  /* border: 1px solid navy; */
  margin: 0 auto;
  overflow: hidden;
}

@media (orientation: portrait) {
  .Picture {
    height: 80vh;
    width: min(calc(9 / 16 * 80vh), 90vw);
  }
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  width: auto !important;
  height: auto !important;
  max-height: 100%;
  max-width: 100%;
}

:global(.ant-image-placeholder) {
  display: flex;
  align-items: center;
  justify-content: center;
}
